@{
    Layout = null;
 }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <title>管理平台登录</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/hplus/css/style.css" rel="stylesheet" />
    <link href="~/hplus/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/hplus/css/animate.min.css" rel="stylesheet" />
    <link href="~/hplus/css/login.css" rel="stylesheet" />

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;Ie" />
    <![endif]-->
    <script>if (window.top !== window.self) { window.top.location = window.location; }</script>
    <script src="~/js/des.js"></script>
    <script>var encrypt_key = '@ViewBag.key';</script>
</head>
<body class="gray-bg">
    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div class="text-center m-b-md" style="font-size:45px">
                CMS
            </div>
            <h3>欢迎使用CMS后台管理平台</h3>
            <form id="login-form">
                <div class="form-group">
                    <input type="text" name="username" id="username" class="form-control" placeholder="用户帐号" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control" placeholder="密码" required="">

                </div>
                <div class="form-group">
                    <div id="captchaid" class="nc-container"></div> 
                </div>
              </form>
                <button  class="btn btn-primary block full-width m-b" id="login">登 录</button>
                <p class="text-muted text-center">
                     CMS © 2017-@DateTime.Now.Year
                </p>
           
        </div>
    </div>
    <!-- 全局js -->
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/validation/jquery.validate.js"></script>
        <script src="~/js/validation/messages_zh.js"></script>
        <script src="~/js/layer/layer.js"></script>
        <script src="~/js/jquery.form.js"></script>
        <script src="~/js/rtpost.js" asp-append-version="true"></script>

    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/validation/jquery.validate.min.js"></script>
        <script src="~/js/validation/messages_zh.min.js"></script>
        <script src="~/js/layer/layer.js"></script>
        <script src="~/js/jquery.form.min.js"></script>
        <script src="~/js/rtpost.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript" charset="utf-8" src="//g.alicdn.com/sd/ncpc/nc.js?t=2015052012"></script>
  
    <script type="text/javascript">
        var nc_token = ["FFFF0N0000000000B680", (new Date()).getTime(), Math.random()].join(':');
        var token='';
        var sessionid = '';
        var sig = '';
        var NC_Opt =
        {
            renderTo: "#captchaid",
            appkey: "FFFF0N0000000000B680",
            scene: "nc_login",
            token: nc_token,
            customWidth: 300,
            trans: { "key1": "code0" },
            elementID: ["username"],
            is_Opt: 0,
            language: "cn",
            isEnabled: true,
            timeout: 3000,
            times: 5,
            apimap: {
                // 'analyze': '//a.com/nocaptcha/analyze.jsonp',
                // 'get_captcha': '//b.com/get_captcha/ver3',
                // 'get_captcha': '//pin3.aliyun.com/get_captcha/ver3'
                // 'get_img': '//c.com/get_img',
                // 'checkcode': '//d.com/captcha/checkcode.jsonp',
                // 'umid_Url': '//e.com/security/umscript/3.2.1/um.js',
                // 'uab_Url': '//aeu.alicdn.com/js/uac/909.js',
                // 'umid_serUrl': 'https://g.com/service/um.json'
            },
            callback: function (data) {
                token = nc_token;
                sessionid = data.csessionid;
                sig = data.sig;
               
            }
        }
        var nc = new noCaptcha(NC_Opt)
        nc.upLang('cn', {
            _startTEXT: "请按住滑块，拖动到最右边",
            _yesTEXT: "验证通过",
            _error300: "哎呀，出错了，点击<a href=\"javascript:__nc.reset()\">刷新</a>再来一次",
            _errorNetwork: "网络不给力，请<a href=\"javascript:__nc.reset()\">点击刷新</a>",
        })

        $(function () {
            $(document).on('click', '#login', function () {
                var username = $("#username").val().trim();
                var password = $("#password").val().trim();
                if ('' == username || '' == password) {
                    layer.msg('请输入帐号密码！');
                    return;
                }
                else if ('' == token || '' == sessionid || '' == sig){
                    layer.msg('请先拖动滑块进行验证！');
                    return;
                }
                password = encMe(password, encrypt_key, 1, 0);
                username = encMe(username, encrypt_key, 1, 0);
                var loading = layer.load(0, {
                    shade: [0.2, '#000'] //0.1透明度的背景
                });
                $("#login").attr("disabled", "disabled");
                $.ajax({
                    type: "POST",
                    url: '/AdminCP/Login/Login',
                    data: "username=" + username + "&password=" + password + "&token=" + token + "&sessionid=" + sessionid + "&sig=" + sig + "&des_key=" + encrypt_key,
                    dataType: "JSON",
                    success: function (data) {
                        if (data.status == "success") {
                            layer.close(loading); 
                            layer.msg(data.message, {
                                time: 1000 //2秒关闭（如果不配置，默认是3秒）
                            }, function () {
                                window.location.href = data.returnUrl;
                            });
                        } else {
                            layer.close(loading);
                            layer.alert(data.message, { icon: 2 });
                            $("#login").removeAttr("disabled");
                            token = '';
                             sessionid = '';
                            sig = '';
                            nc.reset();
                        }
                    },
                    error: function () {
                        layer.close(loading);
                        layer.alert('执行错误，请联系管理员！', { icon: 2 });
                        $("#login").removeAttr("disabled");
                    }
                });
           
               
            })

        })
    </script>
</body>
</html>