.chart_container_parent {
	width: 100%;
	height: 100%;
	padding-top: 34px;
	box-sizing: border-box;
}
#chart_container {
	cursor:default;
	font-family:'Microsoft YaHei';
	font-size:12px;
	height:100%;
	position:relative;
	visibility:hidden;
	width:100%;
	visibility: visible;
}
#chart_container a:hover {
	text-decoration:none
}
#chart_container ul {
	list-style:none;
	border:0;
	margin:0;
	padding:0
}
#chart_container button {
	cursor: pointer;
	border-radius: 15px !important;
}
#chart_dom_elem_cache {
	position:absolute;
	visibility:hidden;
	z-index:-1
}
#chart_toolbar {
	height:34px;
	width:100%;
	position: absolute; 
	font-size: 12px;
	z-index: 2;
}
#chart_toolbar.dark {
	background-color: #0d1923;
}
#chart_toolbar.light {
	background-color: #fff;
}
#chart_toolbar .chart_toolbar_sep {
	float:left;
	height:100%;
	width:16px
}
#chart_toolbar .chart_toolbar_minisep {
	float:left;
	height:100%;
	width:4px
}
#chart_toolbar .chart_dropdown {
	display:inline-block;
	float:left;
	position:relative;
	z-index:2;
	cursor: pointer;
}
#chart_toolbar .chart_dropdown_t {
	height: 20px;
	display: flex;
	z-index:101;
	position:relative;
	padding: 7px 8px;
}
#chart_toolbar .chart_dropdown_t svg {
	margin-top: 8px;
}
#chart_toolbar .chart_dropdown_t a {
	display:inline-block;
	padding-right: 6px;
	height: 20px;
    line-height: 20px;
}
#chart_toolbar .chart_dropdown_data {
	display: none;
	position: absolute;
	z-index: 2;
	left: 0;
    top: 34px;
    padding: 5px 15px;
    box-shadow: 0 10px 10px 0 rgba(16,22,45,.4);
}
#chart_toolbar .chart_dropdown_data ul {
	display: flex;
}
#chart_toolbar.dark .chart_dropdown_data ul {
	border-bottom: 1px solid #2B364B;
}
#chart_toolbar.light .chart_dropdown_data ul {
	border-bottom: 1px solid #cad9e7;
}
#chart_toolbar .chart_dropdown_data ul:last-child {
	border: none;
}
#chart_toolbar .chart_dropdown_data li {
	white-space:nowrap;
	display:inline-block;
}
#chart_toolbar .chart_dropdown_data li a {
	text-decoration:none;
	cursor:pointer;
	display: block;
	line-height: 20px;
	padding: 0 5px;
	margin: 9px 5px;
}
#chart_container .chart_setting_data_title {
	position: relative;
	padding: 0 15px;
}
#chart_container .chart_setting_data_title .title_text {
	line-height: 46px;
	font-size: 16px;
}
#chart_container .close_button {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 15px;
	cursor: pointer;
}
#chart_container .close_button svg {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#chart_toolbar .chart_dropdown_data table {
	border-collapse:collapse;
	font-weight:normal;
	white-space:nowrap;
	height: 34px;
}
#chart_toolbar .chart_dropdown_data td {
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding:8px 6px;
	vertical-align:top
}
.market_chooser .chart_dropdown_data {
	width:370px
}
.market_chooser .chart_dropdown_data td {
	border-bottom-width:1px;
	border-bottom-style:solid;
	padding:.5px 6px!important;
	vertical-align:top;
	line-height:24px
}
.market_chooser li {
	float:left;
	width:80px;
	height:24px;
	line-height:24px
}
#chart_toolbar .chart_dropdown_data td.marketName_ a.dark {
	color:#fff
}
#chart_toolbar .chart_dropdown_data td.marketName_ a.light {
	color:#000
}
#chart_toolbar .chart_dropdown_data table tr:last-child td {
	border-bottom:0
}
#chart_dropdown_symbols .chart_dropdown_data td {
	padding:8px 6px 0 6px
}
#chart_dropdown_symbols .chart_dropdown_data li {
	display:block;
	height:26px
}
#chart_dropdown_symbols .chart_dropdown_data a {
	cursor:pointer
}
#chart_dropdown_themes .chart_dropdown_data td:first-child {
	padding:6px 1px 7px 6px
}
#chart_toolbar .chart_dropdown_t {
    color: #4980E3;
}
#chart_toolbar.dark .chart_dropdown_data {
	background-color: #172434;
}
#chart_container.dark .chart_setting_data_title {
	color: #cad9e7;
	border-bottom: 1px solid #2B364B;
}
#chart_container.dark .chart_setting_data_title svg {
	color: #94ABC0;
}
#chart_container.dark .close_button:hover svg {
	color: #cad9e7;
}
#chart_toolbar.dark .chart_dropdown_data td {
	border-bottom-color:#404040;
	color:#e5e5e5
}
#chart_toolbar.dark .chart_dropdown_data li a {
	color:#94abc0;
}
#chart_toolbar.dark .chart_dropdown_data li a:hover {
	color:#fff;
}
#chart_toolbar.dark .chart_dropdown_data li a.selectsed {
	color:#4980E3;
}
#chart_toolbar.light .chart_dropdown_data {
	background-color:#f6fafd;
	border-color:#cad9e7;
}
#chart_toolbar.light .chart_dropdown_data td {
	border-bottom-color:#e4e5e6;
	color:#393c40
}
#chart_toolbar.light .chart_dropdown_data li a {
	color:#4a5f78;
}
#chart_toolbar.light .chart_dropdown_data a:hover {
	color:#4980E3;
}
#chart_toolbar.light .chart_dropdown_data a.selectsed {
	color:#4980E3;
}
#chart_toolbar .chart_toolbar_label {
	cursor:default;
	display:inline-block;
	float:left;
	padding:7px 4px
}
#chart_toolbar.dark .chart_toolbar_label {
	border-color:#232323;
	color:#e5e5e5
}
#chart_toolbar.light .chart_toolbar_label {
	border-color:#fff;
	color:#393c40
}
#chart_toolbar .chart_toolbar_button {
	cursor:pointer;
	float:left;
	height: 34px;
	display: inline-block;
	padding: 0 5px;
	position:relative;
	z-index:100
}
#chart_toolbar .chart_toolbar_button span {
	display: flex;
    align-items: center;
    height: 100%;
}
#chart_toolbar .chart_toolbar_button svg {
	display: block;
    fill: currentColor;
}
#chart_toolbar.light .chart_toolbar_button span {
	color: #4a5f78;
}
#chart_toolbar.dark .chart_toolbar_button span {
	color: #94ABC0;
}
#chart_toolbar .chart_toolbar_button:hover span {
	color:#4980E3;
}
#chart_toolbar.light .chart_toolbar_button.selectsed {
	background-color:#f4f4f4;
	border-color:#f27935;
	color:#f27935
}
#chart_toolbar .chart_toolbar_tabgroup {
	float:left
}
#chart_toolbar .chart_toolbar_tabgroup li {
	display:inline-block;
	height: 34px;
	line-height: 34px;
}
#chart_toolbar .chart_toolbar_tabgroup li a {
	cursor:pointer;
	padding:0 5px;
	line-height: 20px;
    height: 20px;
    display: inline-block;
}
#chart_toolbar .chart_toolbar_tabgroup li a:hover {
	text-decoration:none
}
#chart_toolbar.dark .chart_toolbar_tabgroup li a {
	color:#94abc0
}
#chart_toolbar.dark .chart_toolbar_tabgroup li a:hover {
	color:#fff;
}
#chart_toolbar.dark .chart_toolbar_tabgroup li a.selectsed {
	color:#4980E3;
}
#chart_toolbar.light .chart_toolbar_tabgroup li a {
	color:#4a5f78
}
#chart_toolbar.light .chart_toolbar_tabgroup li a:hover,
#chart_toolbar.light .chart_toolbar_tabgroup li a.selectsed {
	color:#4980E3;
}
#chart_toolbar_periods_horz {
	display:inline-block;
	float:left;
	position:relative;
	z-index:1
}
#chart_toolbar_periods_vert {
	float:left
}
#chart_toolbar_periods_vert:hover .chart_dropdown_data {
	display: block;
}
#chart_toolbar.dark #chart_toolbar_periods_vert:hover {
	background-color: #172434;
}
#chart_toolbar.light #chart_toolbar_periods_vert:hover {
	background-color: #f6fafd;
}
#chart_container a.chart_icon {
	border-width:1px;
	border-style:solid;
	height:16px;
	padding:0;
	width:16px
}
#chart_container a.chart_icon:hover {
	border-width:2px;
	height:14px;
	width:14px
}
#chart_toolbar .chart_dropdown_data a.chart_icon {
	display:inline-block;
	magin:0 6px 0 6px
}
#chart_toolbar a.chart_icon_theme_dark,#chart_toolbar .chart_dropdown_data li a.chart_icon_theme_dark:hover {
	background-color:#000
}
#chart_toolbar a.chart_icon_theme_light,#chart_toolbar .chart_dropdown_data li a.chart_icon_theme_light:hover {
	background-color:#fff
}
#chart_toolbar #chart_toolbar_theme {
	float:left;
	padding:0 8px
}
#chart_toolbar #chart_toolbar_theme a.chart_icon {
	cursor:pointer;
	float:left;
	margin:6px 4px
}
#chart_container #chart_select_theme td:last-child {
	padding:6px 6px 0 8px
}
#chart_container #chart_select_theme li {
	padding:0 4px 0 4px
}
#chart_container.dark a.chart_icon {
	border-color:#aaa
}
#chart_container.dark a.chart_icon:hover {
	border-color:#1987da
}
#chart_container.dark a.chart_icon.selectsed {
	border-color:#ffac00
}
#chart_container.light a.chart_icon {
	border-color:#aaa
}
#chart_container.light a.chart_icon.selectsed {
	border-color:#f27935
}
#chart_container #chart_updated_time {
	float:right;
	margin:4px 3px;
	padding:3px 10px
}
#chart_container.dark #chart_updated_time {
	color:#e5e5e5
}
#chart_container.light #chart_updated_time {
	color:#393c40
}
#chart_toolpanel {
	position: absolute;
	width: 60px;
	z-index:1;
	left: 0px;
	top: 0px;
	height: 100%;
}
#chart_toolpanel .chart_toolpanel_separator {
	position:relative;
	height: 6px;
}
#chart_toolpanel .chart_toolpanel_button {
	position:relative;
	z-index:100;
	width: 52px;
	padding: 1px 0;
}
#chart_toolpanel .chart_toolpanel_icon {
	background-origin: content-box;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 34px;
    margin: 0 9px;
    position: relative;
    width: 34px;
    z-index: 101;
    padding: 3px;
	background-position: center;
	box-sizing: border-box;
}
#chart_container.dark #chart_toolpanel .chart_toolpanel_icon svg, 
#chart_container.dark #chart_toolpanel .chart_toolpanel_icon {
	color: #94ABC0;
	fill: #94ABC0;
}
#chart_container.light #chart_toolpanel .chart_toolpanel_icon svg, 
#chart_container.light #chart_toolpanel .chart_toolpanel_icon {
	color: #4c525e;
	fill: #4c525e;
}
#chart_toolpanel .chart_toolpanel_show_btn {
	width: 8px;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:center;
}
#chart_toolpanel .chart_toolpanel_show_btn .show_btn_arrow {
	width: 8px;
}
#chart_container.dark .chart_toolpanel_show_btn .show_btn_arrow .background-Q1Fcmxly- {
	fill: #4A5F78;
    stroke: #4A5F78;
}
#chart_container.light .chart_toolpanel_show_btn .show_btn_arrow .background-Q1Fcmxly- {
	fill: #94ABC0;
    stroke: #94ABC0;
}
#chart_container.light .chart_toolpanel_show_btn .show_btn_arrow .arrow-WcYWFXUn- {
	stroke: #fff;
}
#chart_container.dark .chart_toolpanel_show_btn .show_btn_arrow .arrow-WcYWFXUn- {
	stroke: #9db2bd;
}
#chart_container .chart_toolpanel_show_btn .show_btn_arrow:hover .background-Q1Fcmxly- {
	fill: #4980E3;
	stroke: #4980E3;
}
#chart_container .chart_toolpanel_show_btn .show_btn_arrow:hover .arrow-WcYWFXUn- {
	stroke: #fff;
}
#chart_toolpanel .chart_toolpanel_tip {
	border-radius:2px;
	display:none;
	position:absolute;
	padding:5px 10px;
	margin-left:52px;
	margin-top:-30px;
	white-space:nowrap;
	z-index:1
}
#chart_toolpanel .chart_toolpanel_items {
	flex: 1;
	overflow-y: auto;
}
#chart_toolpanel .chart_toolpanel_button:hover .chart_toolpanel_tip {
	display:block
}
#chart_container.dark #chart_toolpanel {
	background-color: #0d1923;
}
#chart_container.dark .chart_toolpanel_tip {
	background-color:#4A5F78;
	color:#fff;
}
#chart_container.light #chart_toolpanel {
	background-color:#fff;
	border-right-color:#afb1b3
}
#chart_container.light .chart_toolpanel_tip {
	background-color:#f27938;
	border-color:#f27938;
	color:#eee
}
#chart_container.dark #chart_toolpanel .chart_toolpanel_icon:hover svg, 
#chart_container.dark #chart_toolpanel .chart_toolpanel_icon:hover {
	color: #fff;
	fill: #fff;
}
#chart_container.light #chart_toolpanel .chart_toolpanel_icon:hover svg, 
#chart_container.light #chart_toolpanel .chart_toolpanel_icon:hover {
	color: #131722;
	fill: #131722;
}
#chart_container #chart_toolpanel .chart_toolpanel_button.selectsed .chart_toolpanel_icon {
	color: #1592e6;
}
#chart_container #chart_toolpanel .chart_toolpanel_button.selectsed svg {
	fill: #1592e6 !important;
	color: #1592e6 !important;
}
#chart_container #chart_toolpanel #chart_HoriSegLine {
	padding: 6.5px;
}
#chart_container #chart_toolpanel #chart_HoriStraightLine {
	padding: 6.5px;
}
#chart_container #chart_toolpanel #chart_VertiStraightLine {
	padding: 6.5px 14.5px;
}
#chart_container #chart_toolpanel #chart_PriceLine {
	padding: 6px;
}
#chart_container #chart_toolpanel #chart_BiParallelLine {
	padding: 6.5px;
}
#chart_container #chart_toolpanel #chart_BiParallelRayLine {
	padding: 6.5px;
}
#chart_container .chart_toolpanel_button #chart_DrawFibRetrace {
	padding: 6.5px;
}
#chart_container #chart_toolpanel #chart_DrawFibFans {
	padding: 7.5px;
}
#chart_container #chart_toolpanel #clearCanvas {
	padding: 8px;
}
#chart_canvasGroup {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	
}
#chart_mainCanvas {
	overflow:hidden;
	position:absolute;
	z-index:0;
}
#chart_overlayCanvas {
	overflow:hidden;
	position:absolute;
	z-index:1;
}
#chart_loading {
	border-width:1px;
	border-style:solid;
	border-radius:4px;
	font-size:18px;
	font-weight:bold;
	line-height:48px;
	overflow:hidden;
	position:absolute;
	text-align:center;
	visibility:hidden;
	width:200px;
	z-index:200
}
#chart_loading.activated {
	visibility:visible
}
#chart_container.dark #chart_loading {
	border-color:#aaa;
	background-color:rgba(0,0,0,0.6);
	color:#ccc
}
#chart_container.light #chart_loading {
	border-color:#afb1b3;
	background-color:rgba(244,244,244,0.8);
	color:#393c40
}
#chart_parameter_settings {
	width:640px;
	height: 360px;
}
#chart_settings {
	width: 450px;
	height: 145px;
}
.chart_parameter_settings {
	display: none;
	position:absolute;
	overflow:hidden;
	z-index:500;
    left: 0;
    top: 0;
    right: 0;
    margin: auto !important;
    bottom: 0;
    border-radius: 2px;
    box-shadow: 0 10px 10px 0 rgba(16,22,45,.4);
}
.chart_parameter_settings .chart_parameter_settings_content {
	width: 100%;
	height: 100%;
	padding-top: 46px;
	margin-top: -46px;
	box-sizing: border-box;
	padding-bottom: 5px;
}
.chart_parameter_settings .chart_parameter_left_menus {
	width: 100%;
	border-right: 1px solid #2B364B;
	height: 100%;
	display: flex;
	flex-direction: column;
}
#chart_container.dark .chart_parameter_settings .chart_parameter_left_menus {
	color: #94ABC0;	
}
#chart_container.light .chart_parameter_settings .chart_parameter_left_menus {
	color: #4a5f78;
}
.chart_parameter_settings .chart_parameter_left_menus .chart_parameter_main {
	display: flex;
	border-bottom: 1px solid #2B364B;
	margin: 0 15px;
}
#chart_container.dark .chart_parameter_left_menus .chart_parameter_main {
	border-bottom: 1px solid #2B364B;
}
#chart_container.light .chart_parameter_left_menus .chart_parameter_main {
	border-bottom: 1px solid #94ABC0;
}
.chart_parameter_settings .chart_parameter_title {
	height: 40px;
	line-height: 40px;
	width: 100px;
}
.chart_parameter_settings ul li {
	height: 40px;
	line-height: 40px;
	padding-left: 5px;
	float: left;
	width: 80px;
}
#chart_settings.chart_parameter_settings ul li {
	width: auto;
	margin-right: 12px;
}
.chart_parameter_settings ul {
	height: 100%;
}
.chart_parameter_settings ul li a {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 0;
	cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    outline: none;
}
#chart_container.dark .chart_parameter_settings ul li a {
	color: #94ABC0;
}
#chart_container.light .chart_parameter_settings ul li a {
	color: #4a5f78;
}
.chart_parameter_settings ul li a:hover,
.chart_parameter_settings .chart_parameter_left_menus ul li:hover,
.chart_parameter_settings .chart_parameter_left_menus ul li.active {
	color: #4980E3;
}
#chart_container .chart_parameter_settings ul li:hover a {
	color: #4980E3;
}
#chart_container .chart_parameter_settings ul li a.selectsed {
	color: #4980E3;
}
.chart_parameter_settings ul li span {
	margin-left: 5px;
}
.chart_parameter_settings ul li a circle {
	fill: none;
    stroke: currentcolor;
}
.chart_parameter_settings ul li a.selectsed circle {
	fill: #4980E3;
}
.chart_parameter_settings ul li a path {
	display: none;
}
.chart_parameter_settings ul li a.selectsed path {
	display: block;
}
.chart_parameter_settings .chart_parameter_right_content {
	flex: 1;
	display: flex;
	flex-direction: column;
}
.chart_parameter_settings .chart_parameter_values {
	flex: 1;
	position: relative;
}
#chart_container.dark .chart_parameter_settings .chart_parameter_values ul li:hover {
	color: #94ABC0;
}
#chart_container.light .chart_parameter_settings .chart_parameter_values ul li:hover {
	color: #4a5f78;
}
.chart_parameter_settings .chart_parameter_values li {
	width: auto;
}
.chart_parameter_settings .chart_parameter_right_title {
	line-height: 50px;
	font-size: 14px;
	text-align: center;
	color: #cad9e7;
}
.chart_parameter_settings .chart_parameter_values .chart_parameter_value {
	display: none;
	padding: 5px 0;
}
.chart_parameter_settings .chart_parameter_values .chart_parameter_btn {
	padding: 10px 0 10px 0;
	box-sizing: border-box;
	position: absolute;
    left: 0;
    bottom: 0;
}
.chart_parameter_settings.clicked {
	visibility:visible;
	display: block;
}
.chart_parameter_settings input {
	width:2em;
	margin:0 2px 0 2px
}
.chart_parameter_settings .chart_str_default {
	width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 0px;
    outline: none;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent; 
}
#chart_container.dark .chart_parameter_settings .chart_str_default {
	border-color: #2B364B;
    color: #94ABC0;
}
#chart_container.light .chart_parameter_settings .chart_str_default {
	border-color: #94ABC0;
    color: #4a5f78;
}
#chart_container .chart_parameter_settings .chart_str_default:hover {
	background-color: #4980E3;
	border-color: #4980E3;
	color: #fff;
}
#chart_container.dark .chart_parameter_settings {
	background-color:rgba(23,36,52,0.8);
	color:#cad9e7;
}
#chart_container.light .chart_parameter_settings {
	background-color:rgba(246,250,253,0.8);
	color:#2b364b;
}
#chart_container input {
	border-radius:2px;
	border-width:1px;
	border-style:solid;
	padding: 4px;
	background-color: transparent;
	height: 24px;
	line-height: 24px;
	box-sizing: border-box;
	margin: 0 10px;
	width: 60px;
}
#chart_container.dark input {
	border-color: #2B364B;
	color: #cad9e7;
}
#chart_container.light input {
	border-color: #94ABC0;
	color: #4a5f78;
}
#chart_container input[type=text] {
	width:12em
}
#chart_container input[type=button],#chart_container input[type=submit],#chart_container button {
	font-family:'Microsoft YaHei';
	padding:4px 8px;
	cursor:pointer
}
#trade_container {
	width:250px;
	height:100%;
	float:right;
	z-index:99999;
	font-size:12px;
	overflow:hidden
}
#trade_container.dark {
	background:#0a0a0a;
	color:#f1f1f1
}
.m_righttop {
	position:fixed;
	top:0;
	height:41px;
	line-height:41px;
	width:230px;
	text-align:right;
	padding-right:20px;
	font-size:16px;
	color:#f78d15;
	font-family:'Microsoft YaHei'
}
.m_righttop em {
	width:123px;
	height:28px;
	background:url(../../../img/home/btc123_icon_s.png) no-repeat;
	background-position:0 0;
	display:block;
	float:right;
	margin-top:5px
}
.dark .m_righttop em {
	background-position:0 0
}
.m_rightbot {
	position:fixed;
	bottom:0;
	height:22px;
	line-height:22px;
	border-top:1px solid #404040;
	width:230px;
	text-align:right;
	padding-right:20px;
	background-color:#0a0a0a;
	border-bottom-color:#404040
}
.m_guadan {
	margin-top:29px;
	overflow:hidden;
	border-left:1px solid #404040;
	border-top:1px solid #404040
}
.m_guadan a {
	font-weight:bold;
	color:#FFF;
	text-decoration:none
}
.light .m_guadan {
	margin-top:29px;
	overflow:hidden;
	border-left:1px solid #afb1b3;
	border-top:1px solid #afb1b3
}
#orderbook #asks,#orderbook #gasks,#orderbook #bids,#orderbook #gbids {
	height:195px;
	position:relative;
	display:inline-block;
	overflow:hidden
}
#market {
	font-size:12px;
	font-weight:bold;
	text-align:center;
	height:16px;
	line-height:16px;
	font-family:'Microsoft YaHei';
	padding:5px
}
#market .dark {
	color:#6BF
}
#market .infoDepth {
	margin-left:8px;
	color:#f78d15
}
#market a:hover {
	text-decoration:underline
}
#asks,#bids {
	width:150px
}
#orderbook {
	padding-left:3px;
	border-bottom:1px solid #222;
	padding-bottom:2px;
	margin-left:5px;
	margin-bottom:2px
}
#orderbook .table {
	position:absolute;
	border-collapse:collapse;
	padding:0;
	margin:0
}
#gasks .table,#asks .table {
	bottom:0
}
#orderbook .table .row {
	padding:0;
	margin:0;
	height:13px;
	line-height:13px;
	font-family:'Microsoft YaHei'
}
#orderbook .table .row {
	line-height:13px
}
#orderbook .table .g {
	color:#666
}
#gasks,#gbids {
	width:80px
}
#gasks .amount,#gbids .amount {
	float:right
}
#gasks .price,#gbids .price {
	float:left;
	text-align:right
}
.price {
	margin-right:10px
}
.price h {
	visibility:hidden
}
.price g,.amount g {
	color:#666
}
#trade_container .green {
	color:#0F0
}
#trade_container .red {
	color:#F00
}
#trade_container.dark #orderbook div.table div.remove g,#trade_container.dark #orderbook div.table div.remove span {
	color:#444
}
#trade_container.light #orderbook div.table div.remove g,#trade_container.light #orderbook div.table div.remove span {
	color:#ddd
}
#trade_container.dark #orderbook div.table div.add {
	display:none;
	background-color:rgba(238,238,238,0.2)
}
#trade_container.light #orderbook div.table div.add {
	display:none;
	background-color:rgba(100,100,100,0.2)
}
#trades {
	overflow-y:auto;
	text-align:left;
	color:#666;
	padding-top:5px
}
#trade_container.light {
	background:#fff;
	border-left:1px solid #afb1b3;
	color:#000
}
#trade_container.light .m_righttop em {
	background-position:0 -32px
}
#trade_container.light .m_righttop {
	position:fixed;
	top:0;
	height:40px;
	line-height:40px;
	background:#FFF;
	width:230px;
	border-bottom:1px solid #afb1b3;
	text-align:right;
	padding-right:20px
}
#trade_container.light #trades.trades table {
	color:#333
}
#trade_container.light #trades.trades .v {
	color:#333
}
#trade_container.light #trades.trades .v g {
	color:#333
}
#trade_container.light .m_rightbot {
	background:#fff;
	border-top:1px solid #afb1b3
}
#trade_container.light #orderbook {
	border-bottom:1px solid #afb1b3
}
.trades_list {
	padding-left:25px
}
.trades_list ul {
	width:200px;
	height:14px;
	line-height:14px;
	text-align:left;
	list-style:none;
	clear:both;
	zoom:1;
	margin:0;
	padding:0
}
.trades_list ul li {
	height:14px;
	line-height:14px;
	color:#999;
	font-size:12px;
	list-style:none;
	float:left;
	*display:inline;
	margin:0;
	padding:0;
	font-family:'Microsoft YaHei'
}
.trades_list ul li.tm {
	width:62px;
	color:#999
}
.trades_list ul li.pr-green {
	width:65px;
	color:#6c6
}
.trades_list ul li.pr-red {
	width:65px;
	color:#c66
}
.trades_list ul li.vl {
	width:60px;
	color:#ccc
}
.trades_list ul li.vl g {
	color:#666
}
#trade_container.dark .trades_list ul.newul {
	display:none;
	background-color:rgba(238,238,238,0.2)
}
#trade_container.light .trades_list ul.newul {
	display:none;
	background-color:rgba(100,100,100,0.2)
}
.light .trades_list ul li.tm {
	color:#333
}
.light .trades_list ul li.pr-green {
	color:#6c6
}
.light .trades_list ul li.pr-red {
	color:#c66
}
.light .trades_list ul li.vl {
	color:#333
}
.light .trades_list ul li.vl g {
	color:#333
}
.container .nav {
	padding:0;
	margin:0;
	list-style:none;
	padding-left:3px;
	height:41px
}
.container .nav li {
	display:inline-block;
	margin-right:9px
}
/* .container a {
	text-decoration:none;
	color:#6BF;
	font-family:Arial,sans
}
.container a:hover {
	text-decoration:underline
}
.container a.active {
	color:#FC9
}
.container span {
	margin-left:3px;
	font-family:Consolas,monospace;
	color:#ccc
}
*/#markettop {
	height:40px;
	line-height:41px;
	font-size:12px
}
#markettop.dark {
	background:#0a0a0a;
	border-bottom:1px solid #333
}
#markettop.light {
	background:#fff;
	border-bottom:1px solid #afb1b3
}
#markettop.light a.selectsed {
	color:#f27935
}
#markettop.dark a.selectsed {
	color:#ffac00
}
.light .container span {
	color:#333
}
.light .container a {
	text-decoration:none;
	color:#1478c8;
	font-family:'Microsoft YaHei'
}
#chart_container #chart_updated_time {
	margin-left:90px;
	padding:5px 0.5px;
}
a.chart_adio {
	color:#4980E3;
}
a.chart_adio:hover {
	color:#4980E3;
}
.chose-canvas .btn-canvas {
	border:1px solid #ddd;
	border-radius:0px;
	background-color:transparent;
	padding:2px 8px;
	margin-top:2px;
	color:#ccc;
	cursor:pointer;
}
.chose-canvas .btn-canvas:hover {
	color:#1987da;
	border:1px solid #1987da;
}
.chose-canvas .btn-canvas.clik {
	color:#1987da;
	border:1px solid #1987da;
}
#chart_container .scroll_item {
	overflow-y: auto;
}
#chart_container .scroll_item::-webkit-scrollbar {
    width: 3px;
    background-color: transparent;
}
#chart_container .scroll_item::-webkit-scrollbar-thumb {
    width: 3px;
    border-radius: 1.5px;
    background-color: #94abc0;
}
#chart_container .scroll_item::-webkit-scrollbar {
	display: none;
} 
.full_screen {
	position: fixed;
	z-index: 99999;
	object-fit: contain;
    position: fixed !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    left: 0px !important;
    box-sizing: border-box !important;
    min-width: 0px !important;
    max-width: none !important;
    min-height: 0px !important;
    max-height: none !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    margin: 0px !important;
}
@media only screen and (max-width: 1500px) {
	#chart_toolbar .chart_toolbar_tabgroup #chart_period_line_h {
		display: none;
	}
}
@media only screen and (max-width: 1450px) {
	#chart_toolbar .chart_toolbar_tabgroup #chart_period_2h_h {
		display: none;
	}
}
@media only screen and (max-width: 1400px) {
	#chart_toolbar .chart_toolbar_tabgroup #chart_period_1m_h {
		display: none;
	}
}
@media only screen and (max-width: 1350px) {
	#chart_toolbar .chart_toolbar_tabgroup #chart_period_6h_h {
		display: none;
	}
}
@media only screen and (max-width: 1300px) {
	#chart_toolbar .chart_toolbar_tabgroup #chart_period_30m_h {
		display: none;
	}
}