body, html {
	background: #e4ebf0;
}

.sub-btn-entrust-plan,
.order-panel-cont,
.order-panel,
.trade-matter table,
.full-head .menu-item .sub-menu-item,
.full-cont .trade-manage-main table tbody tr, .full-cont .trade-manage-main1 table tbody tr,
.right-cont-box-spot .trade-rt-table table tr th, 
.right-cont-box-spot .trade-manage-main table tr th, 
.right-cont-box .trade-rt-table table tr th, 
.right-cont-box .trade-manage-main table tr th, 
.full-cont .trade-cont table tr th,
.right-cont-top-item .item_data,
.right-cont-top-itemd .item_data, 
.right-cont-top-item-alone .item_data,
.right-cont-top-itemm .item_data,
.full-cont .left-cont-box .right-cont-top-item-aside .item_data,
.menu-item .sub-menu-item, 
.top-menu,
.full-title-color {
	background: #fff;
	background-color: #fff;
}

.full-cont-bkg {
	background: #ffffff !important;
}

.lastPriceFull,
.block-title-traded,
.block-title-trade,
.menu-item .sub-menu-item a:hover, .menu-item .sub-menu-item a:active, .menu-item .sub-menu-item a:focus {
	background: #f6fafd;
	color: #2b364b;
}

.top-menu a:hover {
	background: #f6fafd;
	color: #4980E3 !important;
}
.show-lever-box,
.show-usetip-box,
.show-rate-box .index-info-detail,
.show-index-box .index-info-detail,
.show-feerate-box .index-info-detail,
.show-marketTip-box,
.show-marketCloseTip-box,
.show-option-box .index-info-detail{
	background:rgba(0,0,0,0.62);
	color: #FFFFFF;
	box-shadow: 0 10px 10px 0 rgba(16,22,45,.4);
}
.show-contract-box {
	background: #f6fafd;
	color: #FFFFFF;
	box-shadow: 0 10px 10px 0 rgba(16,22,45,.4);
}
.show-contract-box .triangle {
	border-color: transparent transparent #f6fafd transparent;
}
.show-lever-box .triangle, 
.show-usetip-box .triangle,
.triangle,
.show-marketTip-box .triangle,
.show-marketCloseTip-box .triangle {
	border-color: transparent transparent rgba(0,0,0,0.62) transparent;
}
.head-rt .lt .sub-menu-item a {
	color: #2b364b;
}
.head-rt .lt .sub-menu-item a:hover,
.head-rt .lt .sub-menu-item a:active,
.head-rt .lt .sub-menu-item a:focus {
	color: #2b364b;
	background: #f6fafd;
}
.head-rt .lt a.ownColor {
	color: #4A5F78;
}
.top-menu li:last-child a, .top-menu a.first,
.menu-item .sub-menu-item a, .menu-item .sub-sub-menu-item a {
	border: none;
    border-top: 1px solid #f6fafd;
    color: #2b364b;
}

.content-detail table th, .content-detail table td,
.full-cont .lt-wrap b, .full-cont .trade-detail em a,
.full-cont .label, .full-cont .label em, .trade-title-lt strong, .full-cont .price-item span,
.right-cont-box-spot .trade-manage-main table tr td, .right-cont-box .trade-manage-main table tr td, .full-cont .trade-cont table tr td,
.contract-list-ul .contract-list-li .contract-list-cell span:nth-child(1),
.trade-rt-table .trade-depth-table td:nth-child(2),
.trade-rt-table .trade-depth-table td:nth-child(3),
.trade-rt-table .trade-log-table td:first-child,
.trade-rt-table .trade-log-table td,
.side-navigation-li,
.iconfont,
.head-lt .label,
.menu-item:hover a.role-dexx,
.top-menu a,
a.role-dexx,
a.role-dex {
	color: #4a5f78;
}

.icon-Star {
    color: #4980E3;
}

.content-detail table td:nth-child(2),
.full-cont .tab-order ul li,
.trade-search-box-top,
.contract-list-ul .contract-list-li .contract-list-cell span,
.full-top-lang,
.head-lt .number,
.head-lt {
	color: #2b364b;
}

.triger-arrow {
	border-color: #4a5f78 transparent transparent;
}

.side-navigation-li:hover, 
.curActive {
	color: #eee; 
}

.bfx-logo {
	background-image: url(../../images/white/logo.png);
}

.trade-search-box-top {
	border-bottom: 1px solid #cad9e7;
}

.full-cont .trade-rt-table table tr:hover, .trade-manage-main table tr:hover, .full-cont .trade-manage-main table tr:hover,
.later,
.contract-list-ul .contract-list-li:hover {
	background: #f5faff;
}

.full-cont .tabb-order ul li,
.full-cont .tab span {
	border-top: 3px solid #f6fafd;
	color: #2b364b;
}

.full-cont .tabb-order ul li.current,
.full-cont .tab a:hover, .tab a.current, 
.full-cont .tabb-order ul li:hover,
.full-cont .tab span:hover, .tab span.current, .tab li.current {
	background: #fff !important;
    border-top: 3px solid #4980E3;
    color: #2b364b;
}

.menu-control strong,
.trade-all-active:hover,
.full-cont .tab-order ul li.current {
	background: #fff !important;
	color: #2b364b;
}

.price-item .order-input,
.full-cont .trade-detail .order-input {
	background: #fff;
	border: solid 1px #CAD9E7 !important;
	color: #2b364b;
}

.sub-entrust-btn-buy,
.sub-entrust-btn,
.sub-btn-entrust-plan,
.sub-btn-entrust,
.sub-btn-entrust-market {
	background: #fff;
	border: solid 1px #CAD9E7 !important;
	color: #94ABC0;
}

.currentrust {
	border: solid 1px #4980e3 !important;
	color: #4980e3;
}

.full-cont .trade-detail input.order-input:focus {
	border: 1px solid #4980e3 !important;
}

.trade-manager-tab .main-wrap,
.trade-detail .percent-sell, 
.trade-detail .buy-percent, 
.trade-detail .percent,
.trade-detail .market-percent {
	background: #f6fafd;
}

.trade-detail .buy-percent.active, .trade-detail .percent-sell.active, .trade-detail .percent.active,.trade-detail .market-percent.active {
	background: #e1effd;
}

.lever-control a {
	color: #4a5f78;
	background: #FFFFFF;
}

.full-cont .trade-detail input.order-input::-webkit-input-placeholder,
.full-cont .trade-detail input.order-input-disabled::-webkit-input-placeholder{
	color: #94ABC0;
}
.full-cont .trade-detail input.order-input::-moz-input-placeholder,
.full-cont .trade-detail input.order-input-disabled::-moz-input-placeholder {
	color: #94ABC0;
}
.full-cont .trade-detail input.order-input::-ms-input-placeholder,
.full-cont .trade-detail input.order-input-disabled::-ms-input-placeholder {
	color: #94ABC0;
}

.trade-detail .sell-percent, .trade-detail .percent-buy,
.chose-canvas-kd span {
	background: #94ABC0;
}
.content-detail span,
.content-detail {
	color: #2b364b;
    background: #f6fafd;
}
.full-head .menu-item .sub-menu-item {
	background: #ffffff;
}
.show-index-box .index-info-detail .clickDetil,
.show-rate-box .index-info-detail .clickDetil {
	color: #CAD9E7;
}
.buy-bg {
	background: #4AC465;
}
.sell-bg {
	background: #E64848;
}
.buy {
	color: #4AC464;
}
.sell {
	color: #E04444;
}
.full-cont .lt-wrap .buy {
	color: #4AC464;
}
.full-cont .lt-wrap .sell {
	color: #E04444;
}
.trade-rt-table table .buy {
	color: #4AC464;
}
.trade-rt-table table .sell {
	color: #E04444;
}
.contract-list-ul .contract-list-li .contract-list-cell:nth-child(3) .buy {
	color: #4AC464;
}
.contract-list-ul .contract-list-li .contract-list-cell:nth-child(3) .sell {
	color: #E04444;
}
.head-lt .feeRate-time {
	border-bottom: 1px dashed #94ABC0;
	color: #2B364B;
}
.mark-price .icon-tishi {
  color: #C1C8D4;
}
.mark-price .icon-tishi:hover {
	color: #9AA9C1;
}
.funding-ratelist .icon-tishi,
.option-part .icon-tishi {
	color: #C1C8D4;
}
.funding-ratelist .icon-tishi:hover,
.option-part .icon-tishi:hover {
	color: #9AA9C1;
}
.full-cont .trade-detail .order-input-disabled {
	background-color: #f6fafd !important;
	border: solid 1px #CAD9E7 !important;
}
.type-order-input .type-order-inner,
.type-close-input .type-close-inner,
.type-control-input .type-input-inner {
	background: #fff;
	border: solid 1px #CAD9E7 !important;
	color: #94ABC0;
}
.lever-order-input .order-input-inner,
.lever-close-input .close-input-inner,
.lever-control-input .input-inner {
	background: #fff;
	border: solid 1px #CAD9E7 !important;
}
.type-options-order,
.type-close-order,
.select-options-item,
.type-options-item {
	background-color: #ffffff;
}
.type-order-box .type-option,
.type-close-box .type-option,
.select-close-item .select-options-box .option-multiple-close,
.select-order-item .select-options-box .option-multiple,
.select-options-box .option-multiples,
.type-options-box .type-option {
	color: #94abc0;
}
.type-order-box .active,
.select-order-item .select-options-box .active,
.type-close-box .active,
.select-options-box .active,
.select-close-item .select-options-box .active,
.type-options-box .active {
	background-color: #f6fafd;
	color: #4980e3;
}
.type-order-box .type-option:hover,
.select-order-item .select-options-box .option-multiple:hover,
.type-close-box .type-option:hover,
.select-close-item .select-options-box .option-multiple-close:hover,
.select-options-box .option-multiples:hover,
.type-options-box .type-option:hover {
	background-color: #f6fafd;
	color: #4980e3;
	cursor: pointer;
}
.underline .market-underline {
	border-top: 1px dashed #94abc0;
}
.all-unit {
	border-left: 1px solid #cad9e7;
}
.market-price-btn {
	border: 1px solid #cad9e7;
	color: #94abc0;
	background: #f6fafd;
}