<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="UserAgent" value="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.88 Safari/537.36 Edg/87.0.664.66" />
		<add key="IgUrl" value="https://www.instagram.com" />
		<add key="DBHost" value="https://unibone.uat.heywind.cn" />
		<add key="DataBaseUserInfo" value="{&quot;Account&quot;: &quot;Administrator&quot;,&quot;Password&quot;: &quot;login@2021&quot;}" />	
	</appSettings>
</configuration>