@{
    ViewData["Title"] = "InfoCache";
}

<div class="text-center">
    <h1 class="display-4">InfoCache</h1>
    <h2>后端Action时间：@base.ViewBag.Now</h2>
    <h2>前端View时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss ff")</h2>
</div>
