<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="MessageProvider" type="Pattern.Provider.MessageProviderConfigurationSection, Pattern.Provider" />
	</configSections>
	<MessageProvider defaultProvider="SqlMessageProvider">
		<providers>
			<add name="XmlMessageProvider" type="Pattern.Provider.XmlMessageProvider, Pattern.Provider" connectionStringName="XmlConnection" />
			<add name="SqlMessageProvider" type="Pattern.Provider.SqlMessageProvider, Pattern.Provider" connectionStringName="SqlConnection" />
		</providers>
	</MessageProvider>
	<connectionStrings>
		<add name="SqlConnection" connectionString="server=.;database=db;uid=sa;pwd=sa" />
		<add name="XmlConnection" connectionString="XmlPath" />
	</connectionStrings>
</configuration>