@model Pandora.Cigfi.Models.Cigfi.Order.Order
@{
    ViewBag.title = "编辑订单";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editOrderForm", @class = "form-horizontal m-t" }))
            {
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label class="col-sm-3 control-label">订单号：</label>
                    <div class="col-sm-8">
                        <input asp-for="OrderNo" class="form-control" required placeholder="订单号">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户ID：</label>
                    <div class="col-sm-8">
                        <input asp-for="UserId" class="form-control" required placeholder="用户ID">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">总金额：</label>
                    <div class="col-sm-8">
                        <input asp-for="TotalAmount" class="form-control" required placeholder="总金额">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">支付金额：</label>
                    <div class="col-sm-8">
                        <input asp-for="PayAmount" class="form-control" required placeholder="支付金额">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">支付状态：</label>
                    <div class="col-sm-8">
                        <select asp-for="PayStatus" class="form-control">
                            <option value="false">未支付</option>
                            <option value="true">已支付</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">订单状态：</label>
                    <div class="col-sm-8">
                        <select asp-for="Status" class="form-control">
                            <option value="PendingPayment">待付款</option>
                            <option value="PendingShipment">待发货</option>
                            <option value="PendingReceipt">待收货</option>
                            <option value="Completed">已完成</option>
                            <option value="Cancelled">已取消</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注：</label>
                    <div class="col-sm-8">
                        <input asp-for="Remark" class="form-control" placeholder="备注">
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-3">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 提交 </button>
                        <button class="btn btn-default" type="button" onclick="closethisdialog();"><i class="fa fa-close"></i> 取消 </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script>
    $(function () {
        DoPost("editOrderForm");
    })
</script>
