@{
    ViewBag.title = "订单管理";
}
<div class="wrapper wrapper-content ">
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="panel panel-default">
                <div class="panel-heading">筛选条件</div>
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal form-inline">
                        <div>
                            <label class="control-label">订单号：</label>
                            <input type="text" placeholder="订单号" name="orderno" id="orderno" class="form-control">
                            <label class="control-label">用户ID：</label>
                            <input type="text" placeholder="用户ID" name="userid" id="userid" class="form-control">
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary" onclick="doSearch();">查询</button>
                        </div>
                    </form>
                </div>
            </div>
            @* <div id="toolbar" class="btn-group">
                <button id="btn_add" type="button" class="btn btn-outline btn-default" onclick="top.showDialog('addorder', '新增订单', '/AdminCP/Order/Create', 1000, 600)">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                </button>
            </div> *@
            <table id="tb_orders"></table>
            <script>
                $(function () {
                    var oTable = new TableInit();
                    oTable.Init();
                });
                function doSearch() {
                    var params = $('#tb_orders').bootstrapTable('getOptions');
                    params.queryParams = function (params) {
                        var temp = {
                            limit: params.limit,
                            page: (params.offset / params.limit) + 1,
                            orderno: $("#orderno").val(),
                            userid: $("#userid").val()
                        };
                        return temp;
                    }
                    $('#tb_orders').bootstrapTable('refresh', params);
                }
                var TableInit = function () {
                    var oTableInit = new Object();
                    oTableInit.Init = function () {
                        $('#tb_orders').bootstrapTable({
                            url: '/AdminCP/Order/GetOrders',
                            method: 'get',
                            toolbar: '#toolbar',
                            striped: false,
                            cache: false,
                            pagination: true,
                            sortable: false,
                            sortOrder: "asc",
                            queryParams: oTableInit.queryParams,
                            sidePagination: "server",
                            pageNumber: 1,
                            pageSize: 25,
                            pageList: [10, 25, 50, 100],
                            search: false,
                            strictSearch: true,
                            showColumns: true,
                            showRefresh: true,
                            minimumCountColumns: 2,
                            clickToSelect: true,
                            height: 0,
                            uniqueId: "Id",
                            showToggle: true,
                            cardView: false,
                            detailView: false,
                            columns: [
                                { field: 'Id', title: 'ID' },
                                { field: 'OrderNo', title: '订单号' },
                                { field: 'UserId', title: '用户ID' },
                                { field: 'Status', title: '状态' },
                                { field: 'TotalAmount', title: '总金额' },
                                { field: 'PayAmount', title: '支付金额' },
                                { field: 'PayStatus', title: '支付状态', formatter: function(v){ return v ? '已支付' : '未支付'; } },
                                { field: 'CreatedAt', title: '下单时间' },
                                { field: 'Id', title: '操作', formatter: 'actionFormatter' }
                            ]
                        });
                    };
                    oTableInit.queryParams = function (params) {
                        var temp = {
                            limit: params.limit,
                            page: (params.offset / params.limit) + 1,
                            orderno: $("#orderno").val(),
                            userid: $("#userid").val()
                        };
                        return temp;
                    };
                    return oTableInit;
                };
                function actionFormatter(value, row, index) {
                    return [
                        '<a href="javascript:;" class="btn btn-xs btn-info" title="详情" onclick="top.showDialog(\'orderdetail\', \'订单详情\', \'/AdminCP/Order/Details/' + value + '\', 1000, 600)"><i class="fa fa-info-circle"></i> 详情</a>',
                        '<a href="javascript:;" class="btn btn-xs btn-warning m-l-xs" title="编辑" onclick="top.showDialog(\'editorder\', \'编辑订单\', \'/AdminCP/Order/Edit/' + value + '\', 1000, 600)"><i class="fa fa-edit"></i> 编辑</a>'
                    ].join('');
                }
            </script>
        </div>
    </div>
</div>
