
@{
    ViewBag.title = "后台管理日志";
}
<div class="wrapper wrapper-content ">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewBag.title</h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox-content">
            <div class="panel panel-default">
                <div class="panel-heading">筛选条件<a href="#" id="btn_empty" style="margin-right: 10px;cursor: pointer;font-weight: 900; float: right;">清空</a></div>
                <div class="panel-body">
                    <form id="formSearch" class="form-horizontal form-inline" onsubmit="doSearch(); return false; ">
                        <div class="row">
                            <label class="control-label col-sm-1">用户账号：</label>
                            <div class="col-sm-2">
                                <input type="text" placeholder="" name="UserName" id="UserName" class="form-control">
                            </div>
                            <label class="control-label col-sm-1">用户ip：</label>
                            <div class="col-sm-2">
                                <input type="text" placeholder="" name="LogIP" id="LogIP" class="form-control">
                            </div>
                            <label class="control-label col-sm-1">日志关键字：</label>
                            <div class="col-sm-2">
                                <input type="text" placeholder="" name="keyword" id="keyword" class="form-control">
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px">
                            <select id="DDTimeType" class="form-control m-b" style="vertical-align:sub; margin-left:35px;">
                                <option value="" selected>日志时间</option>
                            </select>
                            <input id="BeginTime" name="BeginTime" type="text" class="form-control" onclick="WdatePicker({skin:'whyGreen', dateFmt:'yyyy-MM-dd'})" style="width:200px;">~
                            <input id="EndTime" name="EndTime" type="text" class="form-control" onclick="WdatePicker({skin:'whyGreen', dateFmt:'yyyy-MM-dd'})" style="width:200px;">
                            <button type="button" style="margin-left:50px" id="btn_query" class="btn btn-primary" onclick="doSearch();">查询</button>
                        </div>
                    </form>
                </div>
            </div>
            <table id="tb_departments"></table>
            <script src="/js/my97/WdatePicker.js"></script>
            <script>
                $(function () {

                    //1.初始化Table
                    var oTable = new TableInit();
                    oTable.Init();

                    //2.初始化Button的点击事件
                    var oButtonInit = new ButtonInit();
                    oButtonInit.Init();

                    $("#formSearch").keydown(function () {
                            if (event.keyCode == "13") {//keyCode=13是回车键
                                $('#btn_query').click();
                            }
                    });

                });
                 //得到查询的参数
                 var queryParams = function (params) {

                        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                            limit: params.limit,   //页面大小
                            page: (params.offset / params.limit) + 1,  //页码
                            kid: $("#kid").val(),
                            beginTime: $("#BeginTime").val(),
                            endTime: $("#EndTime").val(),
                            keyword: $("#keyword").val(),
                            userName: $("#UserName").val(),
                            logip: $("#LogIP").val()
                        };
                        return temp;
                 }
                function doSearch() {
                    var params = $('#tb_departments').bootstrapTable('getOptions');
                    params.queryParams = queryParams;
                    $('#tb_departments').bootstrapTable('refresh', params);
                }
                var TableInit = function () {
                    var oTableInit = new Object();
                    //初始化Table
                    oTableInit.Init = function () {
                        $('#tb_departments').bootstrapTable({
                            url: '/AdminCP/Member/GetAdminCPLogList',         //请求后台的URL（*）
                            method: 'get',                      //请求方式（*）
                            toolbar: '#toolbar',                //工具按钮用哪个容器
                            striped: true,                      //是否显示行间隔色
                            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                            pagination: true,                   //是否显示分页（*）
                            sortable: false,                     //是否启用排序
                            sortOrder: "asc",                   //排序方式
                            queryParams: queryParams,//传递参数（*）
                            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                            pageNumber: 1,                       //初始化加载第一页，默认第一页
                            pageSize: 25,                       //每页的记录行数（*）
                            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                            strictSearch: true,
                            showColumns: true,                  //是否显示所有的列
                            showRefresh: true,                  //是否显示刷新按钮
                            minimumCountColumns: 2,             //最少允许的列数
                            clickToSelect: true,                //是否启用点击选中行
                            height: 0,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                            uniqueId: "Id",                     //每一行的唯一标识，一般为主键列
                            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                            cardView: false,                    //是否显示详细视图
                            detailView: false,                   //是否显示父子表
                            columns: [{
                                checkbox: true
                            }, {
                                field: 'Id',
                                title: 'ID'
                            }, {
                                field: 'UserName',
                                title: '用户帐号'
                            },
                            {
                                field: 'LogIP',
                                title: '操作IP'
                            },
                            {
                                field: 'LogType',
                                title: '操作类型',
                                formatter: 'LogTypeFormatter'

                            },
                            {
                                field: 'LogTime',
                                title: '操作时间'
                            },
                            {
                                field: 'LogMsg',
                                title: '事件说明'
                            },
                            {
                                field: 'Id',
                                title: '操作',
                                formatter: 'actionFormatter'
                            }
                            ]
                        });
                    };
                    return oTableInit;
                };
                function LogTypeFormatter(value, row, index)
                {
                    if (value == 2) {
                        value = "<div>添加</div>";
                    }
                    else if (value == 3) {
                        value = "<div>编辑</div>";
                    }
                    else if (value == 4)
                    {
                        value = '<div style="color:red">删除</div>'
                    }
                    return value;
                }
                function actionFormatter(value, row, index) {
                    return [
                        '<a href="javascript:;" class="btn btn-xs btn-primary" title="编辑" onclick="top.showDialog(\'viewadminlogdetail\', \'查看管理日志详情\', \'/AdminCP/Member/ViewAdminLogDetail/' + value + '\', 0, 0)"><i class="fa fa-edit"></i> 查看详情</a>'
                    ].join('');
                }
                 $("#btn_empty").click(function () {
                    $("#keyword").val('');
                    $("#UserName").val('');
                    $("#LogIP").val();
                    $("#BeginTime").val('');
                    $("#EndTime").val(''); 
                    doSearch();
                });
                var ButtonInit = function () {
                    var oInit = new Object();
                    var postdata = {};

                    oInit.Init = function () {
                        //初始化页面上面的按钮事件
                    };
                    return oInit;
                };
            </script>
        </div>
    </div>


</div>

