@using Pandora.Cigfi.Web.Common;
@using Pandora.Cigfi.Models.Consts;
@using Pandora.Cigfi.IServices;
@inject IAdminRightService adminright_Service;
@{
    ViewBag.Title = "审核概览";
}
<div class="wrapper wrapper-content ">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>
                @ViewBag.Title
            </h5>
            <div class="ibox-tools">
            </div>
        </div>
        <div class="ibox float-e-margins">
            <table id="tb_datalist" style="word-break:break-all; padding: 0px !important; margin: 0px !important;"></table>
            <script>
                $(function () {
                    //1.初始化Table
                    var oTable = new TableInit();
                    oTable.Init();
                    //2.初始化Button的点击事件
                    var oButtonInit = new ButtonInit();
                    oButtonInit.Init();
                });
                var queryParams = function (params) {
                    var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                        limit: params.limit,   //页面大小
                        page: (params.offset / params.limit) + 1  //页码
                    };
                    return temp;
                };
                function doSearch() {
                    var params = $('#tb_datalist').bootstrapTable('getOptions');
                    //console.log(params);
                    params.queryParams = queryParams;
                    $('#tb_datalist').bootstrapTable('refresh', params);
                }
                var TableInit = function () {
                    var oTableInit = new Object();
                    //初始化Table
                    oTableInit.Init = function () {
                        $('#tb_datalist').bootstrapTable({
                            url: '/AdminCP/Member/GetPageRCListAsync', //请求后台的URL（*）
                            method: 'get', //请求方式（*）
                            toolbar: '#toolbar', //工具按钮用哪个容器
                            striped: true, //是否显示行间隔色
                            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                            pagination: true, //是否显示分页（*）
                            sortable: false, //是否启用排序
                            sortOrder: "asc", //排序方式
                            queryParams: queryParams, //传递参数（*）
                            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
                            pageNumber: 1, //初始化加载第一页，默认第一页
                            pageSize: 100, //每页的记录行数（*）
                            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
                            search: false, //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
                            strictSearch: true,
                            showColumns: false, //是否显示所有的列
                            showRefresh: false, //是否显示刷新按钮
                            minimumCountColumns: 2, //最少允许的列数
                            clickToSelect: true, //是否启用点击选中行
                            height: 0, //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                            uniqueId: "AddOprid", //每一行的唯一标识，一般为主键列
                            showToggle: false, //是否显示详细视图和列表视图的切换按钮
                            cardView: false, //是否显示详细视图
                            detailView: false, //是否显示父子表
                            showFooter:true,
                            columns: [
                                {
                                    checkbox: true
                                },
                                {
                                    field: 'AddOprName',
                                    title: '审核人',
                                    footerFormatter: function (value) {
                                        return "小计：";
                                    }
                                },
                                {
                                    field: 'MonthCount',
                                    title: '本月审核',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).MonthCount;
                                        }
                                        return "本月审核的数量:" +count;
                                    }
                                },
                                {
                                    field: 'MonthEditCount',
                                    title: '修改的数量',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).MonthEditCount;
                                        }
                                        return "本月修改的数量:"+count;
                                    }
                                },
                                {
                                    field: 'WeekCount',
                                    title: '本周审核',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).WeekCount;
                                        }
                                        return "本周审核的数量:" + count;
                                    }
                                },
                                {
                                    field: 'WeekEditCount',
                                    title: '修改的数量',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).WeekCount;
                                        }
                                        return "本周修改的数量:" + count;
                                    }
                                },
                                {
                                    field: 'ToDayCount',
                                    title: '当天审核',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).ToDayCount;
                                        }
                                        return "当天审核的数量:" +count;
                                    }
                                },
                                {
                                    field: 'ToDayEditCount',
                                    title: '修改的数量',
                                    footerFormatter: function (value) {
                                        var count = 0;
                                        for (var i = 0; i < value.length; i++) {
                                            count += JSON.parse(JSON.stringify(value[i])).ToDayEditCount;
                                        }
                                        return "当天修改的数量:" +count;
                                    }
                                }

                            ]
                        });
                    };
                    return oTableInit;
                };

                var ButtonInit = function () {
                    var oInit = new Object();
                    var postdata = {};

                    oInit.Init = function () {
                        //初始化页面上面的按钮事件
                    };

                    return oInit;
                };
            </script>
        </div>
    </div>
</div>