@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>后端Action时间：@base.ViewBag.Now</h2>
    <h2>前端View时间：@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss ff")</h2>
</div>
