<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link href="../../../wwwroot/css/style.css" rel="stylesheet" />
    <link href="../../../wwwroot/css/prism.css" rel="stylesheet" />
    <link href="../../../wwwroot/css/chosen.css" rel="stylesheet" />
</head>
<body>
    <form>

        <select class="chosen-select-width">
            <option value=""></option>
            <option selected>American Black Bear</option>
            <option>Asiatic Black Bear</option>
            <option>Brown Bear</option>
            <option>Giant Panda</option>
            <option>Sloth Bear</option>
            <option>Sun Bear</option>
            <option>Polar Bear</option>
            <option>Spectacled Bear</option>
        </select>



    </form>
    <script src="../../../wwwroot/js/jquery-3.2.1.min.js"></script>
    <script src="../../../wwwroot/js/chosen.jquery.js"></script>
    <script src="../../../wwwroot/js/prism.js"></script>
    <script src="../../../wwwroot/js/init.js"></script>
</body>

</html>
